/* =========================================
   FUENTES PERSONALIZADAS (si las tienes)
   ========================================= */

@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype');
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype');
}

/* =========================================
   ESTILOS GENERALES
   ========================================= */

body {
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#main_wrapper {
    max-width: 900px;
    margin: auto;
}

/* Títulos principales */
section h1, footer h1, nav a {
    font-family: 'Dayrom', serif;
    text-transform: uppercase;
}

/* =========================================
   HEADER
   ========================================= */

header {
    border-bottom: 1px solid #ccc;
    background: url('images/line.png') repeat-x bottom;
}

#main_title h1 {
    font-family: 'BallparkWeiner';
    font-size: 2.5em;
    margin-bottom: 0;
}

#main_title h2 {
    font-family: 'Dayrom';
    font-size: 1em;
    margin-top: 0;
    color: #444;
}

#logo {
    width: 80px;
}

/* =========================================
   NAVEGACIÓN
   ========================================= */

nav ul li a {
    color: #181818;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* =========================================
   BANNER
   ========================================= */

#banner_image {
    height: 200px;
    background: url('images/sanfrancisco.jpg') no-repeat center / cover;
    border-radius: 6px;
    box-shadow: 0px 4px 4px #1c1a19;
}

#banner_description {
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.9em;
    border-radius: 0 0 6px 6px;
}

.red_button {
    background: url('images/red_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    text-decoration: none;
}

.red_button img {
    vertical-align: middle;
}

/* SECTION (ARTICLE + ASIDE) */

article h1 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.ico_categorie {
    width: 24px;
    vertical-align: middle;
}

article p {
    font-size: 0.80em;
    text-align: justify;
}

/* ASIDE */

#author_box {
    background-color: #706b64;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #1c1a19;
    position: relative;
}

#arrow {
    position: absolute;
    width: 20px;
    top: 80px;
    left: -10px;
}

#zozor_picture img {
    border: 1px solid #181818;
    width: 120px;
}

/* Iconos redes */
#author_box img {
    margin-right: 5px;
}

/* FOOTER */
#footer {
    background: url('images/top.png') no-repeat top center;
    padding-top: 25px;
    margin-top: 40px;
}

/* Títulos del footer */
#footer h1 {
    font-family: 'Dayrom', serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Texto general */
#footer p, 
#footer ul {
    font-size: 0.9em;
}

/* Galería de imágenes */
#my_pictures img {
    width: 60px;
    margin-right: 4px;
    border: 1px solid #181818;
}

/* Listas de Friends */
#my_friends ul {
    list-style-image: url('images/external_link.png');
    padding-left: 20px;
}

/* Links de Friends */
#my_friends a {
    text-decoration: none;
    color: #760001;
}
